In [16]:
import pandas as pd
import re

In [17]:
train = pd.read_json("train.json")
test = pd.read_json("test.json")
validation = pd.read_json("validation.json")
train.head(5)

,premise,hypothesis,label
0,Pluto rotates once on its axis every 6.39 Eart...,Earth rotates on its axis once times in one day.,neutral
1,---Glenn =====================================...,Earth rotates on its axis once times in one day.,entails
2,geysers - periodic gush of hot water at the su...,The surface of the sun is much hotter than alm...,neutral
3,Facts: Liquid water droplets can be changed in...,Evaporation is responsible for changing liquid...,entails
4,"By comparison, the earth rotates on its axis o...",Earth rotates on its axis once times in one day.,entails

In [18]:
train["label"].unique()

array(['neutral', 'entails'], dtype=object)

In [32]:
import re

def clean_text(text: str) -> str:
    text = text.lower()  # lowercase
    
    # Step 1: replace non-digit dots with space
    # (dot not surrounded by digits â†’ replace)
    text = re.sub(r'(?<!\d)\.(?!\d)', ' ', text)
    
    # Step 2: remove everything except letters, numbers, dot-in-numbers, spaces
    text = re.sub(r'[^a-z0-9.\s]', ' ', text)
    
    # Step 3: normalize whitespace
    text = re.sub(r'\s+', ' ', text).strip()
    return text

In [33]:
#apply clean text on train
train["premise_clean"] = train["premise"].apply(clean_text)
train["hypothesis_clean"]  = train["hypothesis"].apply(clean_text)


# apply clean text on test
test["premise_clean"] = test["premise"].apply(clean_text)
test["hypothesis_clean"]  = test["hypothesis"].apply(clean_text)


#apply clean text on validation
validation["premise_clean"] = validation["premise"].apply(clean_text)
validation["hypothesis_clean"]  = validation["hypothesis"].apply(clean_text)

In [34]:
train.head(1)

,premise,hypothesis,label,premise_clean,hypothesis_clean
0,Pluto rotates once on its axis every 6.39 Eart...,Earth rotates on its axis once times in one day.,neutral,pluto rotates once on its axis every 6.39 eart...,earth rotates on its axis once times in one day

In [35]:
train["premise_clean"][0]

'pluto rotates once on its axis every 6.39 earth days'